<%= simple_form_for(@reco) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :rating %>
    <%= f.input :address %>
    <%= f.input :day_time %>
    <%= f.input :weather_type %>
    <%= f.input :category %>
    <%= f.input :weather_type %>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
