<p id="notice"><%= notice %></p>

<h1>Listing Recos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recos.each do |reco| %>
      <tr>
        <td><%= reco.name %></td>
        <td><%= reco.description %></td>
        <td><%= reco.rating %></td>
        <td><%= reco.address %></td>
        <td><%= reco.latitude %></td>
        <td><%= reco.longitude %></td>
        <td><%= link_to 'Show', reco %></td>
        <% if reco.user == current_user %>
          <td><%= link_to 'Edit', edit_reco_path(reco) %></td>
          <td><%= link_to 'Destroy', reco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reco', new_reco_path %>
