<p id="notice"><%= notice %></p>
<h1 class="text-center">Places in my neighborhood</h1>
<div class="container-fluid">
  <div class="row">

    <% @recos.each do |reco| %>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= reco.photo %>);">
          <div class="card-category"><%= reco.address %></div>
          <div class="card-description">
            <h2><%= reco.name %></h2>
            <p><%= reco.description %></p>
          </div>
          <%= link_to "" , reco_path(reco), :class => "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <%= render "shared/map", path: new_reco_path %>
    </div>
  </div>
</div>
<%= link_to 'New Reco', new_reco_path %>
