<p id="notice"><%= notice %></p>


<div id="mainContainer" class="container-fluid">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <div class="card" id="cardshow" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @reco.photo %>);">
      <div class="card-category"><%= @reco.address %></div>
      <div class="card-description">
        <h2><%= @reco.name %></h2>
        <p><%= @reco.description %></p>
      </div>
      <%= link_to "" , reco_path(@reco), :class => "card-link" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <%= commontator_thread(@reco) %>
      <%= link_to 'Edit', edit_reco_path(@reco) %> |
      <%= link_to 'Back', recos_path %>
    </div>
  </div>
</div>


