<div class="container recommendation-new-container padded">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 class="text-center">New Recommendation <%= params[:location] ? "at" : ""%> <%= params[:location]%></h1>
      <%= simple_form_for(@recommendation) do |f| %>
      <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :name, placeholder: "Jardim da Parada, Bifana @ Rosita, Jogging.." %>
          <%= f.input :description, placeholder: "Best bifana in Lisbon" %>
          <%= f.input :bairro, collection: User::BAIRROS, prompt: "select a bairro" %>
          <%= f.input :address, placeholder: "Insert adress" %>
          <%= f.input :weather_type, collection: %w(clear rain thunderstorm drizzle snow clouds), prompt: "Choose best suited weather" %>
          <%= f.input :latitude, as: :hidden %>
          <%= f.input :longitude, as: :hidden %>
          <%= f.input :photo, placeholder: "" %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary", style: "width: 100%" %>
      </div>
      <% end %>

      <hr>
      <%= link_to 'Back', recommendations_path %>



    </div>

  </div>

</div>

