
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">

      <h2 class="text-center"><%= @recommendation.name %></h2>


      <div class="card">
        <div class="card-body">
          <div class="card-picture" style="background-image: url('<%= cl_image_path(@recommendation.photo, width: 500, height: 300) %>')">
            <div class="card-hover">

              <p><%= @recommendation.description %></p>

            </div>
          </div>
          <div class="card-infos">
            <div class="card-title">
              <h3><%= @recommendation.description %></h3>
            </div>
            <div>
              <ul class="card-weather list-inline">
                <li>
                  <% if @recommendation.weather_type == "clear"%>
                    <%= icon_weather("clear") %>
                  <% elsif @recommendation.weather_type == "clouds"%>
                    <%= icon_weather("clouds") %>
                  <% elsif @recommendation.weather_type == "rain"%>
                    <%= icon_weather("clear") %>
                    <%= icon_weather("clouds") %>
                    <%= icon_weather("rain") %>
                  <% elsif @recommendation.weather_type == "drizzle"%>
                    <%= icon_weather("clear") %>
                    <%= icon_weather("clouds") %>
                  <% elsif @recommendation.weather_type == "storm"%>
                    <%= icon_weather("clear") %>
                    <%= icon_weather("drizzle") %>
                    <%= icon_weather("rain") %>
                    <%= icon_weather("thunderstorm") %>
                  <% end %>
                </li>
              </ul>
              <% if params[:latitude].present? %>
                <div class="text-right distance">
                  <%= (@recommendation.distance_from([params[:latitude],params[:longitude]], :km) * 1000).round %> m <i class="fa fa-map-marker"></i>
                </div>
              <% end %>

            </div>
          </div>
        </div>
        <div class="card-footer">
          Added by 
          <img src="http://placehold.it/30x30" alt="" class="avatar">
          <% if current_user.name? %>
            <a href="#"><%= current_user.name %></a>
          <% end %>
        </div>
      </div>



      <%= commontator_thread(@recommendation) %>
      <%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
      <%= link_to 'Back', recommendations_path %>
    </div>
  </div>
</div>

