
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">

      <h2 class="text-center"><%= @recommendation.name %></h2>


      <div class="card">
        <div class="card-body">
          <div class="card-picture" style="background-image: url('<%= cl_image_path(@recommendation.photo, width: 500, height: 300) %>')">
          <div class="card-hover">
            <ul class="list-inline text-center hover-btns">
              <li>
                <%= link_to "http://maps.google.com/maps?q=#{@recommendation.name}", :target => '_blank'  do %>
                  <i class="fa fa-map"></i>
                <% end %>
                <h3>Open map</h3>
              </li>
            </ul>

          </div>
          </div>
          <div class="card-infos">
            <div class="card-title">
              <h3 class="description"><%= @recommendation.description %></h3>
            </div>
            <div>
              <% if params[:latitude].present? %>
                <div class="text-right distance">
                  <%= (@recommendation.distance_from([params[:latitude],params[:longitude]], :km) * 1000).round %> m <i class="fa fa-map-marker"></i>
                </div>
              <% end %>

            </div>
          </div>
        </div>
        <div class="card-footer">
          <% if  @recommendation.user_id? && User.find(@recommendation.user_id).first_name? %>
            Suggested by
            <img src="http://placehold.it/30x30" alt="" class="avatar">
            <a href="#"><%= User.find(@recommendation.user_id).first_name %></a>
          <% end %>
        </div>
      </div>



      <%= commontator_thread(@recommendation) %>
      <%= link_to 'Edit', edit_recommendation_path(@recommendation) %> |
      <%= link_to 'Back', recommendations_path %>
    </div>
  </div>
</div>

